colorPrimario = #141414
colorSecundario = #DE1B25
colorBlanco = #EAEAEA
colorAccent = #50A040
colorGris = #8F9491

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   	
	font-family: Flaticon;
    font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}

@font-face {
  font-family: 'icono_estrellita_vacia';
  src:  url('../fonts/icomoon.eot?n253df');
  src:  url('../fonts/icomoon.eot?n253df#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?n253df') format('truetype'),
    url('../fonts/icomoon.woff?n253df') format('woff'),
    url('../fonts/icomoon.svg?n253df#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icono_estrellita_llena';
  src:  url('../fonts/estrellallena.eot?az4rfq');
  src:  url('../fonts/estrellallena.eot?az4rfq#iefix') format('embedded-opentype'),
    url('../fonts/estrellallena.ttf?az4rfq') format('truetype'),
    url('../fonts/estrellallena.woff?az4rfq') format('woff'),
    url('../fonts/estrellallena.svg?az4rfq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
      font-family: 'googleicon';
      src: url('../fonts/googleicon.eot?9927647');
      src: url('../fonts/googleicon.eot?9927647#iefix') format('embedded-opentype'),
           url('../fonts/googleicon.woff?9927647') format('woff'),
           url('../fonts/googleicon.ttf?9927647') format('truetype'),
           url('../fonts/googleicon.svg?9927647#googleicon') format('svg');
      font-weight: normal;
      font-style: normal;
    }


.graficas
  canvas
    background-color colorPrimario
    border-radius 10px
    margin-bottom 1em
    padding 1em
    font-size: .7em
    color colorBlanco !important

.btnPpal
	background colorSecundario !important
	font-family 'Montserrat', sans-serif
	font-weight bold		
	transition .5s
	border-radius 20px
	&:hover
		background colorPrimario  !important
		border 1px solid colorSecundario

body
	font-family: 'Allerta', sans-serif;
	background-color colorBlanco

.headerppal
	background colorPrimario
	overflow hidden
	box-shadow 0 8px 10px rgba(0,0,0,0.5)
	padding-bottom 30px
	text-align center
	
	.header-logotipo
		margin-right 5em
		margin-left 50px
		margin-top 20px		
		
		img	
			height 40px
			transition .6s
			&:hover
				transform scale(1.05)

.modal-registro
	width 80% !important

.registro-bienvenida
	text-align center
	width 100%		
	
	h4
		color colorPrimario
		font-size 1.5em
		font-family 'Montserrat', sans-serif
		font-weight bold
		margin-bottom 0.5em
		
	.registro-bienvenida-texto		
		margin-bottom 1em
		font-size 1em
		text-align left

	span		
		color red
		font-size 1.2em
		font-weight bold

.registro-formulario
	border-left 0.3em solid colorPrimario
	div
		margin 0
		div
      margin-bottom 1.2em
      label
        display inline-block
        margin-left 1em

	label
		color colorPrimario
		font-size 1em			
			
	a
		margin-top 2em		
		text-align center
		width 80% !important		

.div-btnRegistrarse
	text-align center
	margin-top 2em
	margin-bottom 0em
	a
		background colorPrimario !important
		border-radius 20px
.div-btnAtras
	text-align center
	margin-bottom 0em
	a
		margin-top 1em
		background colorSecundario !important
		border-radius 20px

.titulo
	color colorPrimario
	font-weight bold
	text-align center



@media screen and (min-width: 768px)


	.headerppal
    padding-bottom 0
    display flex
    align-items center
		text-align left
		
		.header-logotipo
			float left
			
		.header-avatar
			display inline-block

	.registro-bienvenida
		text-align left
		
		h4
			margin-bottom 1em
			font-size 2em
		
		.registro-bienvenida-texto		
			margin-bottom 0
			font-size 1.5em
		
		span		
			font-size 1.5em

		
	.modal-registro
		width 60% !important